@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:200');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size: 16px;
	text-align: center;
	position: relative;

	/* Unit 6 Code */
	background-color: #FFED74;
}

header {
	/* Unit 5 Code */
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;


	/*background-color: #182D4F;*/
	text-align: center;
	color: white;
	/*background: url("../images/annapolis_street.jpg") no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;*/
	/*padding: 15em 1em;*/
}

nav {
	/* Unit 5 Code */
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;

	text-align: right;
	/*background-color: #0B1626;*/
	opacity: .9;
	/*padding: 1em 1em;*/
}

article {
	/* Unit 5 Code */
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

div {
	/* Unit 5 Code */
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

footer {
	/* Unit 5 Code */
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;

	/*background: #24328F;*/
	/*color: white;*/
	/*padding: 5em;*/
	/*margin:	3em 0em 0em 0em;*/
}

footer p {
	float: right;
}

footer address {
	float: left;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
	padding: 1em;
}

h1 {
	font-size: 4em;
	font-weight: 100;
}

h2 {
	font-size: 1.8em;
	font-weight: 700;
}

h3 {
	font-size: 1.5em;
	font-weight: 700;
}

h4 {
	font-size: 1.2em;
	font-weight: 700;
}

p {
	text-align: left;
	line-height: 1.5em;
	max-width: 32em;
	/*padding: 1em 0em;*/
	margin: 1em auto;
}

a {
	text-decoration: none;
	color: #217D85; /* This and next two lines are for line below link. */
	border-bottom: 1px solid #217D85;
	padding-bottom: 2px;
}

/*a:hover {
	color: #2A9EA8;
	border-bottom: 1px solid #2A9EA8;
}*/

nav a {
	font-variant: small-caps;
	letter-spacing: 2px;
	border: none;
	padding: 1em;
    margin: 1em;
}

nav a:hover {
	color: #2A9EA8;
}

ul,ol {
	text-align: left;
	line-height: 1.5em;
	max-width: 30em;
	padding: 0em 0em 0em 2.5em;
	margin: 1em auto;
}

address {
	text-align: left;
	line-height: 1.5em;
	max-width: 32em;
	/*padding: 1em 0em;*/
	margin: 1em auto;
}

.hero-text {
	/* Unit 5 Code */
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;

	/*background: rgba(11, 22, 38, 0.7);*/
	text-align: center;
	/*padding: 12em 0;*/
}
.call-to-video {
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
	font-size: 1.25em;
	color: white;
	/* background-color: rgba(33, 125, 133, 0.68); */
	border: 2px solid;
	padding: 1em 1.5em;
	margin: 2.5em;
	display: inline-block;
}

.call-to-video:hover {
	background-color: #101F36;
	opacity: .7;
}

.call-to-visit {
	background-color: #217D85;
	border: none;
}

.call-to-visit:hover {
	background-color: #2A9EA8;
	opacity: 1;
}

.process-plan {
	/* Unit 5 Code */
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
    
    /* Unit 6 Code */
    width: 90%;
    margin: auto;

	/*padding: 3em 1em;*/
}

.wrapper {
	margin: auto;
	/*border: none;*/

	/* Unit 6 Code*/
	background-color: #FFB7CF;
}

.step-one {
	float: left;
	/*border: none;*/
	max-width: 33.33%;
	padding: 2em;

	/* Unit 6 Code*/
	background-color: #E582A2;
}

.step-two {
	float: left;
	/*border: none;*/
	max-width: 33.33%;
	padding: 2em;

	/* Unit 6 Code */
	background-color: #E55B88;
}

.step-three {
	float: left;
	/*border: none;*/
	max-width: 33.33%;
	padding: 2em;

	/* Unit 6 Code*/
	background-color: #E582A2;
}

.img-circle {
	border-radius: 50%;
}

.video-cta {
	/* Unit 5 Code */
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;

	/*padding: 10em 1em;
	background-color: #246A8F;*/
	color: white;
	clear: both;
}

.positioning {
	/* Unit 5 Code */
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;

	/*padding: 3em 1em;*/
}

.testimonial {
	/* Unit 5 Code */
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;

	/*padding: 3em 1em;*/
}

.renew {
	/* Unit 5 Code */
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;

	/*padding: 3em 1em;*/
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
