@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:200');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size: 16px;
	text-align: center;
	position: relative;
}

header {
	background-color: #182D4F;
	text-align: center;
	color: white;
	background: url("../images/annapolis_street.jpg") no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	padding: 15em 1em;
}

footer {
	background: #24328F;
	color: white;
	padding: 5em;
	margin:	3em 0em 0em 0em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
	padding: 1em;
}

h1 {
	font-size: 4em;
}

p {
	text-align: left;
	line-height: 1.5em;
	max-width: 30em;
	/*padding: 1em 0em;*/
	margin: 1em auto;
}

a {
	text-decoration: none;
	color: #217D85; /* This and next two lines are for line below link. */
	border-bottom: 1px solid #217D85;
	padding-bottom: 2px;
}

ul,ol {
	text-align: left;
	line-height: 1.5em;
	max-width: 30em;
	padding: 0em 0em 0em 2.5em;
	margin: 1em auto;
}

.nav-links {
	font-variant: small-caps;
	letter-spacing: 2px;
	border: none;
	padding: 1em;
    margin: 1em;
}

/* From Unit 3 but just in case. */
/*.hero-text {
	background: rgba(36, 69, 120, 0.5);
	padding: 15em 0;
}*/

.call-to-visit {
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
	font-size: 1.25em;
	color: white;
	background-color: #217D85;
	padding: 1em 1.5em;
	margin: 2em;
	border:	none;
}

.call-to-video {
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
	font-size: 1.25em;
	color: white;
	background-color: #217D85;
	opacity: .5;
	padding: 1em 1.5em;
	margin: 2em;
	border:	none;
}

.process-plan {
	padding: 3em 1em;
}

.img-circle {
	border-radius: 50%;

}

.video-cta {
	padding: 10em 1em;
	background-color: #246A8F;
	color: white;
}

.positioning {
	padding: 3em 1em;
}

.testimonial {
	padding: 3em 1em;
}

.renew {
	padding: 3em 1em;
}