/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:200');
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');

/* MAIN CSS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size: 18px;
	text-align: center;
	position: relative;
}

header {
	background: url("../images/annapolis_street.jpg") no-repeat center center scroll;
	background-size: cover;
	background-repeat: no-repeat;
}

header p {
	text-align: center;
}

nav {
	padding: 1em;
	float: right;
}

nav a {
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
	font-variant: small-caps;
	color: white;
	letter-spacing: 2px;
	border: none;
	padding: 1em 2em;
	border-radius: .10em;
}

nav a:hover {
	background-color: #2A9EA8;
	color: white;
	border: none;
	opacity: 1;
}

article {
	max-width: 72em;
	margin: 0 auto;
	padding: 2em 1em;
}

footer {
	background: #182D4F;
	color: white;
	padding: 5em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
	padding: .5em .5em;
}

h1 {
	font-size: 4em;
	font-weight: 100;
}

h2 {
	font-size: 1.8em;
	font-weight: 300;
}

h3 {
	font-size: 1.5em;
	font-weight: 300;
}

h4 {
	font-size: 1.4em;
	font-weight: 300;
}

p {
	line-height: 1.5em;
	text-align: left;
	padding: 0em 1em 1em 1em;
}

a {
	text-decoration: none;
	color: #217D85; /* This and next two lines are for line below link. */
	border-bottom: 1px solid #217D85;
	padding-bottom: 2px;
}

a:hover {
	color: #2A9EA8;
	border-bottom: 1px solid #2A9EA8;
}

ul,ol {
	text-align: left;
	line-height: 1.5em;
	padding: 0em 0em 0em 2.5em;
	margin: 1em auto;
}

hr {
	border: .5px solid white;
	margin: 1.5em auto;
	width: 16em;
}

address {
	text-align: left;
	font-style: normal;
	line-height: 1.5em;
	padding: 0em 1em 1em 1em;
}

.logo-nav {
	background-color: #0B1626;
	opacity: .85;
}

.logo {
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
	color: white;
	padding: 1em;
	float: left;
}

.logo a {
	text-decoration: none;
	color: white;
	border: none;
}

.nav-visit {
	background-color: #217D85;
	color: white;
	border-radius: .10em;
}

.hero-text {
	background: rgba(11, 22, 38, 0.6);
	color: white;
	padding: 7em 0;
}

.hero-text p {
	max-width: 36em;
	margin: .5em auto;
	padding: 1em 0;
}

.call-to-video {
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
	font-size: 1.25em;
	color: white;
	background-color: rgba(33, 125, 133, 0); 
	border: 2px solid;
	padding: 1em 1.5em;
	margin: 2em;
	display: inline-block;
	border-radius: .10em;
}

.call-to-video:hover {
	background-color: #101F36;
	border: 2px solid white;
	color: white;
	opacity: 1; /* Opacity affects border. Why? */
	-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.call-to-visit {
	background-color: #217D85;
	border: 2px solid #217D85;
}

.call-to-visit:hover {
	background-color: #2A9EA8;
	border: 2px solid #2A9EA8;
	color: white;
	opacity: 1;
	-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.cta-in-text {
	margin: 1em;
}

.cta-div {
	clear: both;
}

.process-plan {
    max-width: 72em;
    margin: auto;
	padding: 2em 1em;
}

.step {
	float: left;
	width: 33.33%;
	padding: 1em .5em;
}

.p-step {
	font-family: 'Nothing You Could Do', 'Source Sans Pro', 'Arial', sans-serif;
	font-size: 2.5em;
	background-color: #182D4F;
	color: white;
	border-radius: 50%;
	text-align: center;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	padding: 0;
}

.img-circle {
	border-radius: 50%;
}

.video-cta-background {
	background: url("../images/main_street.jpg") no-repeat center center scroll;
	background-size: cover;
	background-repeat: no-repeat;
}

.video-cta {
	background-color: #246A8F;
	background: rgba(36, 106, 143, 0.8);
	color: white;
	padding: 10em .5em;
	clear: both;
}

.article-column {
	width: 50%;
	float: left;
}

.testimonial-background {
	background: url("../images/water_sunset.jpg") no-repeat center center scroll;
	background-size: cover;
	background-repeat: no-repeat;
}

.testimonial-wrapper {
	background-color: #24328F;
	background: rgba(36, 50, 143, 0.8);
	color: white;
}

.testimonial {
	max-width: 36em;
	padding: 2em 1em;
	margin: 0 auto;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* ======================== 1200px screen ======================== */

@media only screen and (max-width: 1200px) {
	h1 {
		font-size: 3.5em;
	}

	.hero-text {
		padding: 7em 0;
	}

	.process-plan {
	    width: 100%;
	    margin: auto;
		padding: 2em .5em;
	}

	.step {
		float: left;
		width: 33.33%;
		padding: 2em 0;
	}
}

/* ======================== 1020px screen ======================== */

@media only screen and (max-width: 1020px) {
	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.3em;
	}

	h4 {
		font-size: 1.2em;
	}

	article {
		max-width: 48em;
		padding: 2em .5em;
		margin: .5em auto;
	}

	.nav-visit {
		display: none;
	}

	.hero-text {
		padding: 6em 0;
	}

	.call-to-video {
		padding: .75em 1.25em;
		margin: 1.5em;
	}

	.process-plan {
	    max-width: 48em;
	    margin: .5em auto;
	}

	.step {
		margin: .25em auto;
		padding: .5em .25em;
	}

	.step,.article-column {
		float: none;
		width: 66.6667%;
	}

	.article-column {
		margin: 0 auto;
		padding: 0 .25em;
	}
}

/* ======================== 880px screen ======================== */

@media only screen and (max-width: 880px) {
	body {
		font-size: 16px;
	}

	h1 {
		font-size: 3em;
	}

	.hero-text {
		padding: 5em 0;
	}

	.video-cta {
		padding: 8em 1em;
	}

	.step,.article-column {
		width: 75%;
	}

	.article-column {
		margin: 0 auto;
		padding: 0 .25em;
	}
}

/* ======================== 780px screen ======================== */

@media only screen and (max-width: 780px) {
	nav {
		width: 100%;
		padding: 0;
		margin: 0 auto;
	}

	nav a {
		width: 25%;
		padding: .5em 0;
		display: block;
		float: left;
	}

	.logo {
		float: none;
		text-align: center;
		opacity: .5;
	    padding: .5em 0;
	    margin: 0 auto;
	}

	.logo a {
		opacity: .5;
	}
}

/* ======================== 600px screen ======================== */

@media only screen and (max-width: 600px) {
	article {
		padding: 1.5em .5em;
	}

	h1,h2,h3,h4,h5,h6 {
		padding: .5em .25em;
	}

	h2,h3 {
		font-weight: 400;
	}

	p {
		padding: 0 .5em 1em .5em;
	}

	footer {
		padding: 5em 1em;
	}

	footer p {
		text-align: center;
	}

	address {
		text-align: center;
		padding-top: 1em;
	}

	.hero-text {
		padding: 4em 0;
	}

	.hero-text p {
		max-width: 32em;
		margin: .5em auto;
	}

	.call-to-video {
		display: block;
		width: 45%;
		padding: .75em 1.25em;
		margin: 1.5em auto;
	}

	.step {
		margin: .25em auto;
		padding: .5em 0;
	}

	.step,.article-column {
		float: none;
		width: 85%;
	}

	.article-column {
		margin: 0 auto;
		padding: 0;
	}

	.video-cta {
		padding: 7em 1em;
	}

	.testimonial {
		padding: 1.5em .5em;
	}
}

/* ======================== 450px screen ======================== */

@media only screen and (max-width: 450px) {
	nav a {
		width: 50%;
		padding: .5em 0;
	}

	h1 {
		font-size: 2em;
	}

	.logo {
		padding: .5em 0 0;
	}

	.hero-text {
		padding: 2.5em 0;
	}

	.call-to-video {
		width: 55%;
	}

	.step,.article-column {
		width: 100%;
	}

	.video-cta {
		padding: 5em 1em;
	}
}

/* ======================== 360px screen ======================== */

@media only screen and (max-width: 360px) {
	.hero-text {
		padding: 1em 0em;
	}

	.call-to-video {
		width: 66.67%;
	}
}
